/** IMPORTS **/
/** ANIMATIONS **/
/* Profile img animation */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.shadow-drop-2-center {
  animation: shadow-drop-2-center 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}
@keyframes myAnim {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
/* Background animation */
@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}

.center h1 {
  text-align: center;
  color: white;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
}

/* LG Main Proyects Animation */
.puff-in-bottom {
  animation: puff-in-bottom 2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@keyframes puff-in-bottom {
  0% {
    transform: scale(2);
    transform-origin: 50% 100%;
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
    filter: blur(0);
    opacity: 1;
  }
}
.puff-in-right {
  animation: puff-in-right 2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@keyframes puff-in-right {
  0% {
    transform: scale(2);
    transform-origin: 100% 50%;
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
/* LG Main Proyects hover Animations */
.flicker-in-1 {
  animation: flicker-in-1 2s linear both;
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* Language & Tools Icons Hover Animation */
.rotate-scale-up {
  animation: rotate-scale-up 1s ease-out both;
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
/*gradients*/
/** GENERAL RULES **/
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/** MAIN **/
body {
  /* Animated Background */
  background-image: url("../img/backgrounds/pexels-pixabay-301614(mobile-adaptation).jpg");
  background-size: cover;
  animation: slidein 100s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
body header {
  margin-top: 5%;
}
body header section#SECTION-1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
body header section#SECTION-2 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body header section#SECTION-2 img {
  background: #e0e0e0;
  border-radius: 100%;
  box-shadow: 10px 10px 30px #878787, -10px -10px 30px #ffffff;
  height: 200px;
  width: 220px;
}
body header nav#SECTION-3 {
  display: flex;
  justify-content: center;
  max-width: 400px;
}
body header nav#SECTION-3 section#icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
body header nav#SECTION-3 section#icons i {
  color: black;
  font-size: 30px;
}
body header nav#SECTION-3 section#icons i:hover {
  animation: myAnim 5s ease 0s 1 normal none;
}
body header nav#SECTION-3 .idesc-home {
  position: relative;
  left: 30px;
}
body header nav#SECTION-3 .idesc-estudios {
  left: 11px;
  position: relative;
}
body header nav#SECTION-3 .idesc-contacto {
  right: 20px;
  position: relative;
}
body main .about-main img {
  height: auto;
  width: 100%;
}
body footer {
  padding-top: 60px;
}
body footer .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* LINKS */
}
body footer .row a {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 50px;
  text-decoration: none;
  /* ICONS */
}
body footer .row a i {
  color: black;
  font-size: 50px;
}
body footer .row a i:hover {
  animation: myAnim 5s ease 0s 1 normal none;
}

/**-------------- X-SMALL DISPLAY (xs) --------------**/
@media (max-width: 575px) {
  body {
    margin: 0% !important;
    padding: 0% !important;
    width: 100vw !important;
  }
  body header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body header #titulo-curriculum {
    justify-content: center !important;
  }
  body header #titulo-curriculum article.icons {
    display: none;
  }
  body main {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border-radius: 0px;
    box-shadow: 12px 12px 21px #bebebe, -12px -12px 21px #ffffff;
  }
  body main p {
    color: #e0e0e0;
  }
  body main h2, body main h4 {
    color: #e0e0e0;
  }
}
/**-------------- SMALL DISPLAY (s) --------------**/
@media (min-width: 576px) and (max-width: 991px) {
  body header {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  body header section#SECTION-1 {
    width: 100%;
    justify-content: center;
  }
  body header section#SECTION-1 section#titulo-curriculum {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  body main {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.943627451) 70%, rgba(215, 215, 215, 0.9191176471) 100%);
    width: 100vw;
  }
}
/**-------------- LARGE DISPLAY (lg) --------------**/
@media (min-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between !important;
  }
  body header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  body header #SECTION-1 {
    order: 3;
  }
  body header #SECTION-1 #titulo-curriculum {
    justify-content: center !important;
  }
  body header #SECTION-1 #titulo-curriculum article.icons {
    display: none;
  }
  body header #SECTION-2 {
    order: 1;
  }
  body header #SECTION-3 {
    order: 2 !important;
    width: 40% !important;
  }
  body header #SECTION-3 i {
    font-size: 40px !important;
  }
  body header #SECTION-3 section#iconos {
    justify-content: space-between !important;
  }
  body header #SECTION-3 section#icons-desc .idesc-home {
    left: 6px !important;
  }
  body header #SECTION-3 section#icons-desc .idesc-estudios {
    left: 12px !important;
  }
  body header #SECTION-3 section#icons-desc .idesc-contacto {
    right: -5px !important;
  }
  body main {
    display: flex;
    flex-direction: column;
  }
  body main #about-main-body {
    display: flex;
    justify-content: center;
  }
  body main #about-main-body .about-main {
    border-radius: 50px;
    border-radius: 50px;
    background: #434343;
    box-shadow: inset 18px 18px 58px #2b2b2b, inset -18px -18px 58px #5b5b5b;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    padding: 2%;
    width: 50%;
  }
  body main #about-main-body .about-main p {
    font-size: 1rem;
    color: #e0e0e0;
  }
  body main #about-main-body .about-main h4, body main #about-main-body .about-main h2 {
    color: #e0e0e0;
  }
}
/**-------------- X-LARGE DISPLAY (xl) --------------**/
@media (min-width: 1200px) {
  body {
    align-items: center;
    background-image: url("../img/backgrounds/pexels-pixabay-301614.jpg");
    margin: 0%;
    padding-top: 0rem !important;
    width: 100vw !important;
  }
  body header {
    align-items: center;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border-radius: 0px;
    box-shadow: 12px 12px 21px #bebebe, -12px -12px 21px #ffffff;
    justify-content: space-between;
    margin: 0% !important;
    padding: 1%;
    width: 100vw !important;
  }
  body header section#SECTION-1 {
    color: #e0e0e0;
  }
  body header #SECTION-3 i {
    color: #e0e0e0 !important;
  }
  body header #SECTION-3 .idesc p, body header nav#SECTION-3 .idesc-home p, body header nav#SECTION-3 .idesc-estudios p, body header nav#SECTION-3 .idesc-contacto p {
    color: #e0e0e0;
  }
  body header #SECTION-3 .idesc-home {
    left: 30px;
    position: relative;
  }
  body header #SECTION-3 .idesc-estudios {
    left: 11px;
    position: relative;
  }
  body header #SECTION-3 .idesc-contacto {
    right: 20px;
    position: relative;
  }
}/*# sourceMappingURL=about.css.map */