
$background-color: #e0e0e0;
$sport-it-color: #3cdcf4;
$sport-it-font: #242c54;
$cloud-media-color: #002d49;
$cloud-media-color-2: #2fa5ed;
$main-color: black;
$box-shadow-color: 12px 12px 21px #bebebe,
-12px -12px 21px #ffffff;

/*gradients*/
$main-color-gradient: linear-gradient(to right, #434343 0%, black 100%);